.u-section {
  padding: var(--section-y-lg) 0;
  &__container {
    position: relative;
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__header {
    margin: 0 0 40rem;
    text-align: center;
    @media (max-width: $md) {
      margin-bottom: 30rem;
    }
    > :last-child {
      margin-bottom: 0;
    }
    &.--md-ta-left {
      @media (max-width: $md) {
        text-align: left;
      }
    }
  }
  &__title {
    max-width: 1200rem;
    margin: 0 auto 26rem;
    @media (max-width: $md) {
      margin-bottom: 24rem;
    }
  }
  &__description {
    max-width: 560rem;
    margin: 0 auto;
    @media (max-width: $md) {
      max-width: 90%;
      margin: 0;
    }
  }
  &__slider-user {
  }
  &__benefits {
    margin: 0 -20rem -40rem;
    @media (max-width: $md) {
      margin-bottom: calc(2 * var(--section-y-lg));
    }
    .swiper {
      overflow: visible;
      &-wrapper {
        overflow: visible;
        @media (min-width: $md-mf) {
          width: initial;
          height: initial;
          flex-wrap: wrap;
        }
      }
      &-slide {
        height: initial;
      }
    }
    &-col {
      margin-bottom: 40rem;
      padding: 0 20rem;
      @media (max-width: $md) {
        margin-bottom: 0;
      }
      &--4 {
        max-width: 33.3333%;
        flex-basis: 33.3333%;
        @media (max-width: $md) {
          max-width: 100%;
          flex-basis: 100%;
        }
      }
      &--empty {
        @media (max-width: $md) {
          display: none;
        } 
      }
    }
    &-card {
      height: 100%;
    }
  }
  &__info {
    max-width: 800rem;
    margin: 0 auto;
    &-card {
      &:not(:last-child) {
        margin-bottom: 10rem;
        @media (max-width: $md) {
          margin-bottom: var(--gap-container);
        }
      }
    }
  }
  &__footer {
    margin: 30rem 0 0;
    display: flex;
    justify-content: center;
    @media (max-width: $md) {
      margin-top: 15rem;
    }
    &-btn {
      width: 100%;
      min-width: 0;
      margin: 30rem 0 0;
      @media (min-width: $sm-mf) {
        width: auto;
        min-width: 360rem;
      }
      @media (max-width: $md) {
        margin-top: 15rem;
      }
    }
  }
}