<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <nav class="footer__nav">
      <ul class="footer__nav-list footer__nav-list--pull-right">
        <li class="footer__nav-item">
          <a href="mailto:support@gmail.com" target="_blank" class="footer__nav-link">support@gmail.com</a>
        </li>
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">Unsubscribe</a>
        </li>
      </ul>
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <p class="footer__title">Legal terms</p>
        </li>
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">Terms of Use</a>
        </li>
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">Diclosures&Disclaimers</a>
        </li>
      </ul>
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <p class="footer__title">Privacy info</p>
        </li>
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">Privacy Policy</a>
        </li>
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">Cookie Policy</a>
        </li>
      </ul>
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <p class="footer__title">About</p>
        </li>
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">About Us</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>