@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/TrebuchetMS.woff2') format('woff2'),
       url('../fonts/TrebuchetMS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/TrebuchetMS-Bold.woff2') format('woff2'),
       url('../fonts/TrebuchetMS-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.wow {
  visibility: hidden;
}